@font-face {
    font-family: 'Edo SZ';
    src: url('EdoSZ.woff2') format('woff2'),
        url('EdoSZ.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('NotoSerifJP-ExtraLight-Alphabetic.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('NotoSerifJP-Black-Alphabetic.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('NotoSerifJP-Bold-Alphabetic.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('NotoSerifJP-Light-Alphabetic.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('NotoSerifJP-Regular-Alphabetic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('NotoSerifJP-Medium-Alphabetic.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('NotoSerifJP-SemiBold-Alphabetic.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

